<configuration>
    <conversionRule conversionWord="coloredLevel" converterClass="com.lightbend.lagom.internal.logback.ColoredLevel"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{"HH:mm:ss.SSS"} %coloredLevel %logger [%mdc] - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="play" level="INFO"/>
    <logger name="akka" level="INFO"/>
    <logger name="com.lightbend.lagom" level="INFO"/>
    <logger name="io.grpc" level="INFO"/>
    <logger name="io.perfmark.PerfMark" level="INFO"/>

    <root level="debug">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
